* {
    font-family: 'Playfair Display SC', serif;
}


.Padding_Class{
    padding-top: 10%;
}

.Link_card{
    width: 100%;
    align-self: center;
}

.page_link{
    text-decoration: none;
}

.page_link:hover {
    box-shadow: 5px 5px 8px 5px #f0daf2;
}

.Header_Section{
    font-size: x-large;
    background-color: #f0daf2;
}

.Header_Section > h1 {
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 0.25em;
}

.HomeLinks .MuiSvgIcon-root {
    color: hotpink;
}

.content_background{
    background-image: url("/public/Clouds.jpeg");
    background-size: cover;
    flex-grow: 1;
}
