* {
    font-family: 'Playfair Display SC', serif;
}

.Padding_Class{
    padding-top: 10%;
}

.Link_card{
    width: 100%;
    align-self: center;
}

.shadow_hover:hover {
    box-shadow: 5px 10px 8px 10px #f0daf2;
}